<!DOCTYPE html>
<html>

<head>
    <meta name="theme-color" content="#212121">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | AOforms</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>

<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<h1 class="threadname">{{title}}</h1>
<p class="page">{{page}}<p>

{% for i in range(length) %}
    <hr class="postdivider">
    <div class="postcontainer">
        <table class="posthead">
            <tbody class="posthead">
                <tr class="posthead">
                    <td class="author">{{ authors[i] }}</td>
                    <td class="time">{{ times[i] }}</td>
                <tr />
            </tbody>
        </table>
        {% autoescape false %}
        <span class="post"> {{ posts[i] }} </p>
        {% endautoescape %}
    </div>
{% endfor %}

</body>

</html>
